@font-face {
   font-family: 'Modak';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/robinthorn/Documents/GitHub/ThawneyWebsite/fonts/Modak/regular.ttf') format('truetype');
}
